@import url('https://fonts.googleapis.com/css?family=Arimo|Eczar');

/*font-family: 'Eczar', serif;
font-family: 'Arimo', sans-serif;*/

body {
  font-family: 'Arimo', sans-serif;
  background-color: #586166;
  color: #5e86ff;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: red;
}
.pipe {
  color: white;
}
nav.bar a.active {
  color: red;
}nav.bar a.active:hover {
  color: white;
}
.brand {
  background-color: #3d4047;
  width: 35%;
  height: 35%;
}
.aboutwrap {
  display: flex;
  justify-content: space-around;
}
